/* POPUP  */
/* POPUP  */
/* POPUP  */
.showreward {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.user-reward {
  width: 20%;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background: var(--bg);
  border: 2px solid var(--p);
}
.user-reward h5 {
  margin: 0;
  font-weight: 600;
  color: var(--p);
}
.user-reward h6 {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--t);
  margin-top: 10px;
  font-weight: bold;
}
.user-reward h6:nth-child(4) {
  background-color: #000;
  color: var(--p);
}
.user-reward p {
  color: var(--p);
}

/* Leaderboard  */
/* Leaderboard  */
/* Leaderboard  */
.leaderboard-container {
  background: var(--bg);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 100px 20px;
  background: var(--b);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.leaderboard-container .leadboard {
  width: 50%;
  padding: 20px;
  background: var(--b);
  border-radius: 10px;
  border: 1px solid var(--c);
  h4 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--c);
  }
}
.leaderboard-container .leadboard .custom-body td {
  cursor: pointer;
  &:hover {
    background: var(--d) !important;
  }
}
.leaderboard-container .norecord {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  margin-top: 20px;
}
.leaderboard-list {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  gap: 15px;
}
.leaderboard-list .items {
  width: 100%;
  border: 1px solid var(--border);
  background: var(--bg);
  box-shadow: var(--shadow);
}
.leaderboard-list .items:hover {
  .icon {
    color: var(--text-color);
  }
}
.winner {
  width: 30% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.winner img {
  width: 50px;
}

.leaderboardbuttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.leaderboardbuttons button {
  outline: transparent;
  border: 3px solid transparent;
  padding: 5px 20px;
  border-radius: 5px;
  width: 50%;
  color: #fff;
  background: #152230;
}
.leaderboardbuttons button.active {
  background: var(--c);
  box-shadow: 0 10px 20px rgb(255, 13, 13, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.leaderboard-rewards {
  margin-top: 15px;
}
.winners {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-top: 8px;
  background: var(--btn);
  border-radius: 5px;
}
.winners span {
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
}
.index-and-username span:nth-child(1) {
  background-color: #fff;
  color: #000;
}
.leaderboard-container .norecord h5 {
  color: var(--p);
}

@media screen and (max-width: 992px) {
  .leaderboard-container {
    padding: 20px;
  }
  .leaderboard-container .heading {
    font-size: 15px;
    font-weight: 600;
    text-align: start;
  }
  .leaderboard-container .norecord h5 {
    font-size: 15px;
  }
}
@media screen and (max-width: 786px) {
  .leaderboard-container {
    padding: 50px 10px;
  }
  .leaderboard-container .leadboard {
    padding: 10px;
    width: 100%;
    h4 {
      font-size: 18px;
      margin-top: 20px;
    }
    table {
      font-size: 12px;
    }
  }

  .leaderboardbuttons button {
    font-size: 12px;
  }

  .leaderboard-container .items p {
    display: inline;
    font-size: 12px;
    text-align: center;
  }
  .leaderboard-container .items span {
    font-weight: bold;
  }
  .user-reward {
    width: 80%;
  }
}
