.filter-container {
  display: flex;
  padding: 20px;
  gap: 10px;
  padding-left: 0;
  overflow-x: scroll;
}
.filter-container .fields {
  display: flex;
}
.search-btn {
  padding: 8px 20px;
  background-color: var(--c);
  outline: transparent;
  border: transparent;
  border-radius: 10px;
}
.chart-container {
  display: flex;
  padding: 50px;
  margin-bottom: 20px;
  gap: 50px;
  background-color: #fff;
  color: #333;
}
.chartOne {
  width: 50%;
}
.chartTwo {
  width: 50%;
}
.toggle-icon {
  width: 80px;
  height: 40px;
  border-radius: 100px;
  background-color: #fff;
  padding: 5px;
  transition: 0.3s all ease;
  cursor: pointer;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.toggle-icon.active {
  justify-content: flex-end;
}
.toggle-icon .circle {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 35px;
  height: 35px;
  transition: 0.3s all ease;
  background-color: red;
  transform: translateY(-50%);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle-icon .circle.active {
  left: 50%;
  background-color: green;
}
.admin-dashboard-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
  color: #333;
}
.admin-dashboard-container .dash-card {
  width: 23%;
  background-color: var(--b);
  color: #fff;
  gap: 10px;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  border: 2px solid red;
  box-shadow: 0 0 10px red, 0 0 15px red;
  p {
    margin: 0;
  }
  h1 {
    width: 100%;
    color: var(--c);
  }
}

.dash-card:hover {
  opacity: 0.7;
}
.dash-card .count {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.dash-card .icon {
  font-size: 40px;
  margin-bottom: 25px;
  transition: 0.3s all ease;
}
.dash-card:hover.dash-card .icon {
  font-size: 50px;
}

/* ================ */
.admin-recent-things {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.recent-orders,
.recent-queries {
  width: 48.5%;
  background-color: #fff;
  color: #333;
  padding: 20px;
  border-radius: 5px;
}

.top-buyer {
  width: 100%;
  background-color: #fff;
  color: #333;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

@media screen and (max-width: 786px) {
  .admin-dashboard-container .dash-card {
    width: 100%;
  }
  .recent-orders,
  .recent-queries {
    width: 100%;
    overflow-x: scroll;
  }
  .recent-queries {
    margin-top: 20px;
  }
  .filter-container {
    flex-direction: column;
    padding: 0;
    padding-bottom: 20px;
  }
  .filter-container .fields {
    width: 100%;
  }
}
