.admin-layout-container {
  background-color: var(--b);
  color: #fff;
}
/* ADMIN HEADER  */
.admin-header-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #111;
  color: #fff;
  position: relative;
  .logo {
    font-family: "Orbitron", sans-serif;
    img {
      margin-right: 10px;
      width: 40px;
    }
  }
}
.admin-tools {
  display: flex;
  gap: 10px;
}
/* ADMIN HEADER ENDS  */
/* ADMIN BODY  */
.admin-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
  min-height: calc(100vh - 100px);
  input,
  textarea,
  select {
    background: transparent !important;
    color: var(--c) !important;
    option {
      color: var(--b);
    }
  }
}

.admin-sidebar {
  width: 15%;
  border-right: 1px solid var(--c);
}
.admin-body-content {
  padding-left: 10px;
  width: 84%;
  .page-title {
    color: var(--c);
    h3 {
      font-family: "Orbitron", sans-serif;
    }
  }
}
.admin-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* MOBILE MENU FOR ADMIN */
/* ADMIN SIDEMENU CSS  */
.admin-sidemenu-container {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  z-index: 9999;
  padding: 20px;
  width: 100%;
  background-color: #fff;
  color: #000;
  transition: 0.3s all ease;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
}
.admin-sidemenu-container li {
  margin: 10px;
  cursor: pointer;
}
.admin-sidemenu-container a {
  font-size: 22px;
  color: #333;
  font-weight: 600;
}
.admin-sidemenu-container .cancel-icon {
  font-size: 50px;
}
.admin-sidemenu-container.active {
  left: 0;
}

@media screen and (max-width: 992px) {
  .admin-header-main {
    padding: 10px;
    .logo {
      img {
        width: 40px;
      }
    }
  }
  .admin-body-content {
    width: 100%;
  }
  .admin-body {
    /* padding: 10px; */
    padding-left: 0;
  }
}
